<div class="ui menu">
  <a class="item" onclick="route('/')"> Home </a>
  <div class="ui pointing dropdown link item">
    <span class="text">View Data</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" onclick="route('citizens')">Citizens</div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Amenities</span>
        <div class="menu">
          <div class="item">Bank</div>
          <div class="item">DBT</div>
          <div class="item">Civil Supplies</div>
          <div class="item">Education</div>
          <div class="item">Hospital</div>
          <div class="item">NRegs</div>
          <div class="item">Pension</div>
          <div class="item">Scholarship</div>
        </div>
      </div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Locations</span>
        <div class="menu">
          <div class="item">District</div>
          <div class="item">Mandal</div>
          <div class="item">State</div>
          <div class="item">Village</div>
        </div>
      </div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Transactions</span>
        <div class="menu">
          <div class="item" onclick="route('/transactions/agriculture')">
            Agricultural
          </div>
          <div class="item" onclick="route('/transactions/hospital')">
            Hospital
          </div>
          <div class="item" onclick="route('/transactions/lpg')">LPG</div>
          <div class="item" onclick="route('/transactions/nregs')">NRegs</div>
          <div class="item" onclick="route('/transactions/pension')">Pension</div>
        </div>
      </div>
    </div>
  </div>

  <a class="item" onclick="route('beneficiaries')">
    Scheme Wise Beneficiaries
  </a>
  <a class="item" onclick="route('addUser')"> Add User </a>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search..." />
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item loginButton" id="loginButton"> Log in </a>
    <a class="ui item loginButton" id="logoutButton" onclick="logout(event)">
      Log out</a
    >
  </div>
</div>
