<div class="ui menu">
  <a class="item active"> Home </a>
  <div class="ui pointing dropdown link item">
    <span class="text">View Data</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Citizens</div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Amenities</span>
        <div class="menu">
          <div class="item">Bank</div>
          <div class="item">DBT</div>
          <div class="item">Civil Supplies</div>
          <div class="item">Education</div>
          <div class="item">Hospital</div>
          <div class="item">NRegs</div>
          <div class="item">Pension</div>
          <div class="item">Scholarship</div>
        </div>
      </div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Locations</span>
        <div class="menu">
          <div class="item">District</div>
          <div class="item">Mandal</div>
          <div class="item">State</div>
          <div class="item">Village</div>
        </div>
      </div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Transactions</span>
        <div class="menu">
          <div class="item">Agricultural</div>
          <div class="item">Hospital</div>
          <div class="item">LPG</div>
          <div class="item">NRegs</div>
          <div class="item">Pension</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".ui.dropdown").dropdown();
</script>
