<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
   <body>
    <%- include('partials/navbar') %>
    <div class="ui container segment" >
      <h1 style="text-align: center;">Add New Citizen</h1>
      <form class="ui form" method="post" onsubmit="addCitizen(event)" id="citizenForm">
        <div class="field">
            <label>Citizen ID</label>
            <input
              placeholder="Citizen ID"
              name="citizen_id"
              type="text"
              autocomplete="off"
              id="citizen_id"
            />
          </div>
          <div class="field">
            <label>First Name</label>
            <input
              placeholder="First Name"
              name="first_name"
              type="text"
              autocomplete="off"
              id="first_name">
          </div>
          <div class="field">
            <label>Middle Name</label>
            <input
              placeholder="Middle Name"
              name="middle_name"
              type="text"
              autocomplete="off"
              id="middle_name">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input
              placeholder="Last Name"
              name="last_name"
              type="text"
              autocomplete="off"
              id="last_name">
          <div>
        <div class="field">
          <label>Address</label>
          <input
            placeholder="House number"
            name="address"
            type="text"
            autocomplete="off"
            id="address"
          />
        </div>
        <div class="field">
          <label>Mobile Number</label>
          <input
            type="text"
            name="mobile_number"
            placeholder="Mobile Number"
            id="mobile_number"
          />
        </div>
        <div class="field">
          <label>Date of Birth</label>
          <input type="date" name="dob" placeholder="DOB" id="dob" />
        </div>
        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" id="gender">
            <option value="M" selected>Male</option>
            <option value="F">Female</option>
          </select>
        </div>
        <div class="field">
          <label>Marital Status</label>
          <select class="ui dropdown" id="marital_status">
            <option value="M" selected>Married</option>
            <option value="UM">Unmarried</option>
          </select>
        </div>
        <div class = "field">
          <label>Disabled</label>
            <select class="ui dropdown" id="disabled">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="field">
          <label>Disabled Percentage</label>
          <input
            type="text"
            name="disbaled_percentage"
            placeholder="Disabled Percentage"
            id="disbaled_percentage"
          />
        </div>
        <div class="field">
          <label>Caste</label>
          <select class="ui dropdown" id="caste">
            <option value="OC" selected>OC</option>
            <option value="SC">SC</option>
            <option value="ST">ST</option>
            <option value="BC">BC</option>
        </select>
        </div>
        
        <div class="field">
          <label>State</label>
          <select class="ui dropdown" id="state">
        </select>
        </div>
        <div class="field">
            <label>District</label>
            <select class="ui dropdown" id="district">
            </select>
          </div>
          <div class="field">
              <lable>Mandal</lable>
                <select class="ui dropdown" id="mandal">
                </select>
          </div>
          <div class="field">
            <label>Village Name</label>
            <select class="ui dropdown" id="village">
            </select>
          </div>
  
        <div class="ui primary button" id="add_citizen" >Submit</div>
        <div class="ui error message"></div>
      </form>

    </div>

  </body>
  <%- include('partials/scripts') %>

  <script src="/adduser.js"></script>

</html>
